<div class="text-center">
  <h1>{{title}} page</h1>

  <form action="/profile" method="post">
    <h1 class="h3 mb-3 font-weight-normal">Username: </h1>
    <select name="userId">
      <option value="dbb2c974-66e2-4aca-8472-b81af79b044f">dbb2c974-66e2-4aca-8472-b81af79b044f (admin)</option>
      <option value="dbb2c974-66e2-4aca-8472-b81af79b044e">dbb2c974-66e2-4aca-8472-b81af79b044e</option>
      <option value="dbb2c974-66e2-4aca-8472-b81af79b0669">dbb2c974-66e2-4aca-8472-b81af79b0669</option>
    </select>
    <input class="btn btn-lg btn-primary btn-block" type="submit" value="Sign in">
  </form>
</div>